.root {
}

.header {
  padding: 0 24px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
  padding-bottom: 32px;
}

.content {

  & > * {
    padding: 0;
  }
}

.tabs {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 12px;
}

.serviceFields {
  margin-top: 24px;
}

.headerBtnGroup {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  background-color: aliceblue;
  padding: 8px;
  padding: 8px 24px;

  &>:nth-child(1) {
    margin-right: auto;
  }
}