.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem;
    background: var(--color-blue);
    color: white;
    border: 1px solid #0000002e;

    h1 {
        font-size: 1.2em;
    }
}
