.root {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 2px;
    width: 300px;
    margin-left: auto;
    box-shadow: 13px 17px 8px -10px rgba(34, 60, 80, 0.2);
    background: var(--color-blue);
}

.btn {
    color: var(--color-blue);
}

.main {
    color: white;
}