.root {
    display: flex;
    justify-content: center;
    border: 1px solid #ffffff3b;
    border-radius: 8px;
    padding: 6px;
    width: 300px;
    margin-left: auto;
    background: #FFFFFF1A;
}

.btn {
    color: var(--color-blue);
}

.main {
    color: white;
}