.root {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 16px;
  gap: 16px;

  & > * {
    min-width: 250px;
    flex: 1;
  }
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-left: auto;
}