.root {
    & th:first-of-type {
        padding-left: 32px
    }

    & td:first-of-type {
        padding-left: 32px
    }
}

.emptyText {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    font-size: 1.2em;
    color: var(--color-gray);
}